
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{

  font-family: Montserrat, sans-serif; 
  background-size: cover; 
  background-position: center;
  height: 100%;
  background-repeat: no-repeat; 
  background-image: linear-gradient(rgb(255, 255, 255), rgb(141, 230, 255));
  scroll-behavior: smooth;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
h1 { text-align: center }



.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}

.cell {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.cell:nth-child(3n) { border-right: none }
.cell:nth-child(6) ~ .cell { border-bottom: none }

.board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
}

.white { color: white }

#gameEnd {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: black;
}

#gameEnd p, #gameEnd input {
  position: fixed;
  top: 45%; left: 45%;
  transform: translate(-45%, -45%);
  text-align: center;
}

#gameEnd p { margin-top: 2rem }